<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Add New Rating</title>
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
</head>
<body>
<div class="container">

    <div class="row">
        <h2>Add New Rating</h2>
    </div>

    <div class="row">
        <form action="#" th:action="@{/rating/validate}" th:object="${ratingDTO}" method="post" class="form-horizontal"
              style="width: 100%">
            <p>
                MoodysRating:<br/> <input type="text" th:field="*{moodysRating}"/><br/>
                <span style="color: red;" th:if="${#fields.hasErrors('moodysRating')}"
                      th:errors="*{moodysRating}"></span>
            </p>
            <p>
                SandPRating:<br/> <input type="text" th:field="*{standPoorRating}"/><br/>
                <span style="color: red;" th:if="${#fields.hasErrors('standPoorRating')}"
                      th:errors="*{standPoorRating}"></span>
            </p>
            <p>
                FitchRating: <br/> <input type="text" th:field="*{fitchRating}"/><br/>
                <span style="color: red;" th:if="${#fields.hasErrors('fitchRating')}" th:errors="*{fitchRating}"></span>
            </p>
            <p>
                Order: <br/> <input type="text" th:field="*{orderNumber}"/><br/>
                <span style="color: red;" th:if="${#fields.hasErrors('orderNumber')}" th:errors="*{orderNumber}"></span>
            </p>
            <p>
                <a href="/rating/list" class="btn btn-danger btn-sm">Cancel</a>
                <button type="submit" class="btn btn-primary btn-sm">Add Rating</button>
            </p>
        </form>
    </div>

</div>
</body>
</html>