<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>403 error page</title>
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
</head>

<body>
<h2>HTTP Status 403 - Access is denied</h2>
<div>
    Logged in user: <b th:inline="text" class="user"> [[${#httpServletRequest.remoteUser}]] </b>
    <p></p>
    <h6> Error: You do not have permission to access this page! </h6>

    <div>
        <form th:action="@{/logout}" method="POST"><input type="submit" value="Logout"/></form>
    </div>
</div>
</body>
</html>