<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Home</title>
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
</head>
<body>
<div th:if="${param.logout}">
    <div class="alert alert-info">You have been logged out.</div>
</div>
<div th:if="${param.error}">
    <div class="alert alert-danger">You have to logged in first!</div>
</div>

<h3> HOME PAGE </h3>
<p>
    <a href="/login">Login</a> or create one <a href="/user/list">User management</a>

</p>
</body>
</html>