<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Add New Trade</title>
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
</head>
<body>
<div class="container">

    <div class="row">
        <h2>Add New Trade</h2>
    </div>

    <div class="row">
        <form action="#" th:action="@{/trade/validate}" th:object="${tradeDTO}" method="post" class="form-horizontal"
              style="width: 100%">
            <p>
                Account:<br/> <input type="text" th:field="*{account}"/><br/>
                <span style="color: red;" th:if="${#fields.hasErrors('account')}"
                      th:errors="*{account}"></span>
            </p>
            <p>
                Type:<br/> <input type="text" th:field="*{type}"/><br/>
                <span style="color: red;" th:if="${#fields.hasErrors('type')}"
                      th:errors="*{type}"></span>
            </p>
            <p>
                Buy Quantity: <br/> <input type="text" th:field="*{buyQuantity}"/><br/>
                <span style="color: red;" th:if="${#fields.hasErrors('buyQuantity')}"
                      th:errors="*{buyQuantity}"></span>
            </p>
            <p>
                <a href="/trade/list" class="btn btn-danger btn-sm">Cancel</a>
                <button type="submit" class="btn btn-primary btn-sm">Add Trade</button>
            </p>
        </form>
    </div>

</div>
</body>
</html>